#hero {
  background-image: url(../images/drone-operator.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}